meshio
matplotlib
sphinx
nbsphinx
sphinx-intl
transifex-client
jupyter_client
requests<3.0.0,>=2.19.1
traitlets>=4.3.1
ipython
pandas
vdom
jupyterlab_launcher>=0.5.0
jupyterlab
pyvirtualdisplay
tabulate
sphinx-rtd-theme
