name: main
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: sphinx-build
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends pandoc
        pip install -r requirements.txt
        make html
